header {
    color: darkslategrey;
    background-color: #71b3e9;
    font-size: 30px;
    text-align: center;
}

h2 {
    font-size: small;
    color: darkslategrey;
    background-color: #71b3e9;
    text-align: center;
}

head {
    background-color: #71b3e9;
}

body {
    background-color: #71b3e9;
    color: darkslategrey;
}